:root {
	--primary-background: #499E8F;
	--header-background: var(--primary-background);
}

body {
	margin: 0;
	margin-top: 85px;
	font-family: Nunito;
	min-height: 100vh;
	background: var(--primary-background);
}
img {
	color: black;
}

.header {
	position: fixed;
	top: 0;
	height: 85px;
	width: 100vw;
	background: var(--header-background);
}
.header-wrapper {
	position: relative;
	height: 50px;
	width: calc(100vw - 80px);
	top: 35px;
	left: 45px;
	right: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-text {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
}
.menu-bar {
	position: relative;
	width: 46px;
	height: 24px;
}

.primary-btn {
	display: inline-flex;
	border-radius: 15px;
	user-select: none;
	cursor: pointer;
}